@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
  margin: 0 auto;
}
body::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 8px;
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 26px 0;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 470px;
  margin-left: 15px;
}

.header__nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 134px;
  gap: 10px;
}

.header__nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 221px;
}

.logo-link {
  height: 41px;
}

.logo {
  width: 100px;
  height: 40.5px;
}

.link {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  gap: 10px;
}
.link:hover {
  color: #ffffff;
}

.header__btn {
  width: 121px;
  height: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #0059c1;
  border: none;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn:hover {
  background: #026ee9;
}

.hero {
  margin-bottom: 32px;
}

.container__hero {
  max-width: 1274px;
  height: 595px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%), url("../assets/image/hero__bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  padding-top: 340px;
}

.hero__block-signature {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.range {
  max-width: 500px;
  width: 100%;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
}

.range__current {
  width: 100px;
  height: 1px;
  background-color: #e3b100;
  z-index: 50000;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.play__icon:hover {
  background: rgba(255, 255, 255, 0.2);
}
.play__icon svg {
  margin-left: 3px;
}

.play__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.original__header {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  color: #ffffff;
}

.original__content {
  position: relative;
  height: 300px;
}

.cards {
  display: flex;
  max-width: 1590px;
  position: absolute;
  top: 0;
  left: 0;
  -moz-column-gap: 24px;
       column-gap: 24px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10000;
}
.cards::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
}
.card__active .card__image {
  transition: all 0.3s ease-in-out;
  filter: blur(5px);
  z-index: 10;
}
.card__active .card__content {
  display: block;
}
.card:hover .card__image {
  transition: all 0.3s ease-in-out;
  filter: blur(5px);
  z-index: 10;
}
.card:hover .card__content {
  display: block;
}

.card__image {
  width: 210px;
  height: 300px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.card__content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.card__rating-rate {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.card__rating-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.card__season {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-bottom: 7px;
}

.card__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 6px;
}

.card__about {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
  margin-bottom: 48px;
}

.card__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card__btn:hover {
  background: #0060ce;
}

.card__btn-icon {
  height: 14px;
  width: 11px;
}

.subsription {
  padding: 81px 0 32px 0;
}

.subsription__content {
  display: flex;
}

.subsription__header {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 24px;
}

.item__header {
  text-align: center;
  margin-top: 32px;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 35px;
  color: #ffffff;
}

.item {
  width: 502px;
  height: 296px;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.7) 0%, rgba(13, 0, 123, 0.7) 100%);
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.item:hover {
  z-index: 2;
}
.item:not(.item-center):hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.7) 0%, rgba(13, 0, 123, 0.7) 100%);
}

.item__list {
  color: #ffffff;
  padding-left: 56px;
}

.item__list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 16px;
}

.item__btns {
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 10px;
  margin-right: 32px;
  margin-top: 32px;
}

.btn__yellow {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 147px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background: #e38b00;
  transition: all 0.3s ease-in-out;
}
.btn__yellow:hover {
  background: #ff9d00;
}

.btn__def {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 147px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  background: #060644;
  border: 1px solid #e38b00;
  transition: all 0.3s ease-in-out;
}
.btn__def:hover {
  background: #0c0c7a;
  border: 1px solid #e38b00;
}

.item-left {
  margin-right: -130px;
  opacity: 0.25;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.7) 100%);
  border-radius: 12px;
}

.item-right {
  margin-left: -130px;
  opacity: 0.25;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.7) 100%);
  border-radius: 12px;
}

.item-center {
  z-index: 1;
  margin-left: 12px;
}

.signin {
  background-image: url("../asset/image/bg_sign_in.png");
  background-repeat: no-repeat;
  background-position: 50% 65%;
}

.signin__account {
  max-width: 734px;
  width: 100%;
  margin: 0 auto;
}

.signin-header {
  padding-top: 24px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 12px;
}

.signin-subheader {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 32px;
}

.signin__account-subhader {
  margin-bottom: 25px;
}

.signin__cards {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-bottom: 32px;
}

.signin__card {
  position: relative;
  max-width: 502px;
  width: 100%;
  height: 250px;
  color: #ffffff;
  background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
  border-radius: 12px;
}

.signin__card-choice {
  position: absolute;
  top: -5%;
  right: -2%;
}

.signin__card-info {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
}

.signin__card-type {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
}

.signin__card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.signin__card-promo {
  max-width: 490px;
  width: 100%;
  padding: 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.signin__card-btn {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  background: #e38b00;
  border-radius: 12px;
  text-transform: capitalize;
  padding: 9px 16px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.account__naming {
  display: flex;
  gap: 30px;
}

.input {
  outline: none;
  background: #000000;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 12px;
  border-bottom: 2px solid #d9d9d9;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  border-bottom: 2px solid #e38b00;
}

.input-name {
  display: flex;
  max-width: 350px;
  width: 100%;
  gap: 32px;
  margin-bottom: 24px;
}

.input-surname {
  display: flex;
  max-width: 350px;
  width: 100%;
  gap: 32px;
  margin-bottom: 24px;
}

.input-email {
  width: 100%;
  margin-bottom: 24px;
}

.input-password {
  width: 100%;
}

.signin__check-block {
  margin: 19px 0 32px 0;
  display: flex;
}

.spam {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.create__btn {
  background: #0059c1;
  border-radius: 12px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}
.create__btn:hover {
  background: #026ee9;
}

.privacy {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.privacy span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #e38b00;
  cursor: pointer;
}

#checkbox-spam {
  opacity: 0;
  display: none;
}
#checkbox-spam ~ label::before {
  content: "";
  text-align: center;
  color: white;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 0.25em;
  margin: 0.25em;
  display: inline-block;
}
#checkbox-spam:checked ~ label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  border: 1px solid #e38b00;
}

.container-shows,
.container-movies {
  margin-bottom: 50px;
}
.container-shows .cards,
.container-movies .cards {
  position: relative;
}

.container-cartoons .cards {
  position: relative;
}

.content__show {
  margin-top: 20px;
}

.footer__show {
  height: 236px;
  background-image: url(../assets/image/footer__bg.png);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  margin-top: 28px;
  padding-top: 25px;
}
.footer__show .container__footer {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}
.footer__show .container__footer .support__block {
  padding-bottom: 25px;
}
.footer__show .container__footer .support__block--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.footer__show .container__footer .support__block .feedback {
  display: flex;
  gap: 10px;
}
.footer__show .container__footer .support__block .feedback__message {
  background: #0059C1;
  border-radius: 6px;
  padding: 7px 23px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.footer__show .container__footer .support__block .feedback__message p {
  font-weight: 700;
  max-width: 223px;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer__show .container__footer .support__block .feedback__email {
  display: flex;
  background: #0059C1;
  width: 44px;
  border-radius: 6px;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.footer__show .container__footer .support__block .feedback__call {
  display: flex;
  background: #0059C1;
  width: 44px;
  border-radius: 6px;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.footer__show .container__footer .support__block .feedback :hover {
  background: #026ee9;
  transition: 0.3s all ease-in-out;
}
.footer__show .navigation__block {
  display: flex;
  max-width: 430px;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.footer__show .navigation__block .block__link {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 21px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 96px;
}
.footer__show .navigation__block .block__link--item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #707070;
  text-transform: capitalize;
}
.footer__show .navigation__block .block__link--item:hover {
  color: #FFFFFF;
}
.footer__show .navigation__block .block__link .hbo__max {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  background: linear-gradient(180deg, #0059C1 0%, #9E00FF 77.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  border-bottom: 1px solid #9E00FF;
}
.footer__show .navigation__block .block__link .hbo__max:hover {
  font-size: 15px;
  background: linear-gradient(180deg, #0277fc 0%, #a81cff 70.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  border-bottom: 1px solid #9e0afa;
}
.footer__show .navigation__block .block__link .block__link--item:nth-last-child(-n+3) {
  font-size: 12px !important;
  line-height: 14px !important;
}
.footer__show .navigation__block img {
  width: 63px;
}
.footer__show .navigation__block .copyright {
  font-weight: 400;
  max-width: 224px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #707070;
  margin: 16px 0;
}
.footer__show .enjoy__block {
  padding-bottom: 25px;
}
.footer__show .enjoy__block--text {
  text-align: end;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 12px;
  color: #FFFFFF;
}
.footer__show .enjoy__block--img {
  width: 215px;
}

.content__show .container-shows .original__content,
.content__show .container-movies .original__content,
.content__show .container-cartoons .original__content {
  position: relative;
}
.content__show .container-shows .original__content .arrow__right,
.content__show .container-movies .original__content .arrow__right,
.content__show .container-cartoons .original__content .arrow__right {
  position: absolute;
  right: -33px;
  top: 44.5%;
  z-index: 100000;
  cursor: pointer;
}
.content__show .container-shows .original__content .arrow__right:hover path,
.content__show .container-movies .original__content .arrow__right:hover path,
.content__show .container-cartoons .original__content .arrow__right:hover path {
  transition: all 0.3s ease-in-out;
  fill: #e3b100;
  fill-opacity: 1;
}
.content__show .container-shows .original__content .cards,
.content__show .container-movies .original__content .cards,
.content__show .container-cartoons .original__content .cards {
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.movie__container {
  position: relative;
  background: #2B2B2B;
  color: #ffffff;
  padding: 24px 32px 32px 32px;
}
.movie__container .movie__block-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.movie__container .movie__block-header .movie__header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
}
.movie__container .movie__block-header .movie__rating {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.movie__container .movie__block-header .movie__rating .rating {
  color: #8B8B8B;
}
.movie__container .movie__block-header .movie__rating .rating .rating__current {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ADBF3A;
}
.movie__container .movie__block-header .movie__rating .rating .rating__max {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #D9D9D9;
}
.movie__container .movie__block-content {
  display: flex;
  margin-bottom: 32px;
}
.movie__container .movie__block-content .movie__block-img {
  width: 200px;
  height: 250px;
  margin-right: 20px;
}
.movie__container .movie__block-content .about__movie-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 18px;
  max-width: 640px;
}
.movie__container .movie__block-content .about__movie-genre {
  display: flex;
  gap: 4px;
  margin-bottom: 36px;
}
.movie__container .movie__block-content .about__movie-genre .genre {
  cursor: pointer;
  padding: 6px 20px;
  text-transform: capitalize;
  background: #383838;
}
.movie__container .movie__block-content .about__movie-cast .cast__header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #8B8B8B;
  margin-bottom: 12px;
}
.movie__container .movie__block-content .about__movie-cast .cast__block {
  display: flex;
  gap: 10px;
}
.movie__container .movie__block-content .about__movie-cast .cast__block-hero {
  text-align: center;
}
.movie__container .movie__block-content .about__movie-cast .cast__block-hero img {
  border-radius: 50%;
  background: #8B8B8B;
}
.movie__container .movie__block-content .about__movie-cast .cast__block-hero .cast__hero-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.movie__container .movie__block-similar .similar__header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.movie__container .movie__block-similar .similar__movies {
  display: flex;
  gap: 10px;
}
.movie__container .movie__block-similar .similar__movies-img {
  width: 108px;
}
.movie__container .popup {
  position: absolute;
  top: 0;
  right: -149px;
  width: 123px;
  height: 143px;
  background: #D9D9D9;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  padding: 14px 30px;
  display: none;
}
.movie__container .popup h5 {
  line-height: 15px;
  font-size: 10px;
  color: #8B8B8B;
}
.movie__container .popup h4 {
  line-height: 21px;
  text-transform: uppercase;
  font-size: 14px;
  color: #383838;
  margin-bottom: 18px;
}
.movie__container .popup .popup__input {
  border: none;
  outline: none;
  width: 63px;
  height: 24px;
  margin-bottom: 14px;
  padding: 4px;
  text-align: center;
}
.movie__container .popup input::-webkit-outer-spin-button,
.movie__container .popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.movie__container .popup .popup__btn {
  padding: 1px 14px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */